<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6e08155-a0c6-4989-a2bc-e502cbe348f6" Alias="simplePage" Level="1">
  <Info>
    <Name>Simple Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>SimplePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dc35168f-bb14-4af2-8004-7537348aac30">SimplePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f6e08155-a0c6-4989-a2bc-e502cbe348f6" SortOrder="0">simplePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cf7dfb6a-7095-4aa1-aaec-285a3f39e99b</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>902fb576-3c1a-4169-91a0-610ab4e2a8b3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>