<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b4a9f7a7-f858-4db2-a5e1-2cd6d8671f0e" Alias="emailLabel" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Ihre E-Mail</Translation>
    <Translation Language="en-US">Your E-mail</Translation>
  </Translations>
</Dictionary>