<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51262377-2203-4503-9b32-7e03f59327b3" Alias="InvalidErrorMessage.email" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Diese E-Mail ist ungültig!</Translation>
    <Translation Language="en-US">This e-mail is invalid!</Translation>
  </Translations>
</Dictionary>