<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84ee0633-ca11-482d-8d04-afcd8ff31f44" Alias="messageLabel" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Ihre Nachricht</Translation>
    <Translation Language="en-US">Your Message</Translation>
  </Translations>
</Dictionary>