<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2800dc0b-5d32-4e0a-9b17-95cfd3ac976e" Alias="nameLabel" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Ihr Name</Translation>
    <Translation Language="en-US">Your Name</Translation>
  </Translations>
</Dictionary>