<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f0a4b9f0-f142-44ba-9f81-b6a7b1464d2f" Alias="RequiredErrorMessage.subject" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Das Thema ist erforderlich!
</Translation>
    <Translation Language="en-US">Subject is required!</Translation>
  </Translations>
</Dictionary>