<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d17f510-d7f1-40da-96da-2a2ab7e36579" Alias="RequiredErrorMessage.email" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Ihre E-Mail ist erforderlich!</Translation>
    <Translation Language="en-US">Your e-mail is required!</Translation>
  </Translations>
</Dictionary>