<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="351fd2c5-2420-4449-86f5-0044dbc48bbe" Alias="RequiredErrorMessage.name" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Der Name ist erforderlich!</Translation>
    <Translation Language="en-US">Name is required!</Translation>
  </Translations>
</Dictionary>