<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="618b423f-e209-46bf-b1db-bca8556431c6" Alias="RequiredErrorMessage.message" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Eine Nachricht ist erforderlich!</Translation>
    <Translation Language="en-US">A message is required!</Translation>
  </Translations>
</Dictionary>