<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2508ea63-8ce1-48ad-b907-232bd7d51241" Alias="subjectLabel" Level="1">
  <Info>
    <Parent>Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="de">Thema</Translation>
    <Translation Language="en-US">Subject</Translation>
  </Translations>
</Dictionary>