<?xml version="1.0" encoding="utf-8"?>
<Content Key="3af371a3-8b13-4e8a-b673-a0dd78d9e982" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-06-29T14:28:17</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de">Start</Name>
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="dc35168f-bb14-4af2-8004-7537348aac30">SimplePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="de"><![CDATA[{
  "markup": "<p>Mein Kontakt-Formular</p>\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p><a href=\"/\">EN</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>My custom contact form</p>\n<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"ContactForm\" />\n<p><a href=\"/de\">DE</a></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
  </Properties>
</Content>