<?xml version="1.0" encoding="utf-8"?>
<Content Key="90524801-434b-4b70-97d5-ffc5cc698fe5" Alias="Thank You" Level="2">
  <Info>
    <Parent Key="3af371a3-8b13-4e8a-b673-a0dd78d9e982">Home</Parent>
    <Path>/Home/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>simplePage</ContentType>
    <CreateDate>2025-06-29T14:42:49</CreateDate>
    <NodeName Default="Thank You">
      <Name Culture="de">Vielen Dank</Name>
      <Name Culture="en-us">Thank You</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="dc35168f-bb14-4af2-8004-7537348aac30">SimplePage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value Culture="de"><![CDATA[{
  "markup": "<h2>Vielen Dank!</h2>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<h2>Thank You!</h2>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
  </Properties>
</Content>