:root {
    --footer-color: #009;
    --bg-primary: #006AB3;
    --text-primary: #FDBB06;
    --form-error-color: #c00;
}

body, html {
    font-family: sans-serif;
    height: 100%;
}

img {
    width: 100%;
}

header {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

pre {
    background-color: #eee;
    padding: 0.5em;
}

footer {
    font-size: 80%;
    background-color: #cde;
    color: var(--footer-color);
    height: 70px;
    /* opacity: 0.5;

  &:hover {
      opacity: 1;
  }*/
}

    footer .container {
        padding: 0;
    }

    footer .navbar-brand {
        font-size: 90%;
    }

    footer a.nav-link {
        color: var(--footer-color);
        padding: 8px;
    }

    footer .copy-right {
        padding: 8px 0;
        text-align: right;
    }

    footer li {
        vertical-align: middle;
    }

        footer li.lang {
            padding-right: 20px;
        }

            footer li.lang:first-child {
                padding-right: 0;
            }

                footer li.lang:first-child a::after {
                    content: "|";
                    padding: 8px;
                    font-weight: normal;
                }

            footer li.lang a.nav-link {
                padding: 8px 0;
            }

        footer li.selected a {
            font-weight: bold;
        }

#main {
    padding-top: 20px;
    padding-bottom: 90px;
}

.grid-section .container {
    padding-left: 0;
    padding-right: 0;
}

.btn-primary {
    background-color: var(--bg-primary);
    opacity: 0.8;
}

    .btn-primary:hover {
        opacity: 1;
        background-color: var(--bg-primary);
        color: var(--text-primary);
        border-color: var(--bg-primary);
    }

.teaser {
    min-height: 260px;
    /* img {
      max-height: 90px;
  }*/
}

.navbar .navbar-brand {
    margin: 0;
}

    .navbar .navbar-brand.right {
        position: relative;
        width: 50px;
        height: 30px;
    }

        .navbar .navbar-brand.right a {
            position: absolute;
            background-color: #fff;
        }

    .navbar .navbar-brand img {
        height: 2.5em;
    }

.navbar .nav-link.active {
    font-weight: bold;
}

.caption {
    font-size: smaller;
    font-style: italic;
    opacity: 0.5;
}

.root {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(90% - 70px);
    background-color: #0453AF;
}

    .root .grid-section .container {
        padding-left: 1em;
    }

    .root .umb-grig {
        height: 90%;
    }

    .root .root-head {
        height: 300px;
        color: #ffd54d;
    }

        .root .root-head .container {
            padding-top: 2em;
        }

        .root .root-head h1 {
            font-family: "Alfa Slab One";
            color: #fff;
        }

        .root .root-head em {
            color: #fff;
        }

        .root .root-head a {
            font-weight: bold;
            text-decoration: none;
            color: #ffd54d;
        }

            .root .root-head a:hover {
                color: #fff;
            }

    .root footer {
        opacity: 0.3;
    }

        .root footer:hover {
            opacity: 1;
        }

.umb-block-list article img {
    width: 100%;
}

.contact-form .umbraco-forms-form input.text,
.contact-form .umbraco-forms-form textarea {
    max-width: 100% !important;
    width: 100%;
}

.contact-form .umbraco-forms-form fieldset {
    padding: 0;
}

.input-validation-error {
    border-color: var(--form-error-color);
}

.field-validation-error {
    display: block;
    color: var(--form-error-color);
}

.validation-summary-errors {
    color: var(--form-error-color);
}

@media (orientation: landscape) and (min-height: 400px) {
    .root .root-head {
        height: 400px;
    }

        .root .root-head .container {
            padding-left: 5em;
        }
}

@media (min-height: 700px) and (orientation: landscape) {
    .root .root-head {
        height: 750px;
    }
}

@media (min-height: 1100px) and (orientation: landscape) {
    .root .root-head {
        height: 1200px;
    }
}

@media (max-width: 575px) and (orientation: landscape) {
    footer .copy-right {
        padding-top: 0;
        text-align: left;
    }
}

@media (min-height: 600px) and (orientation: portrait) {
    .root .root-head {
        height: 600px;
    }
}

@media (min-height: 800px) and (orientation: portrait) {
    .root .root-head {
        height: 800px;
    }
}

@media (min-height: 1000px) and (orientation: portrait) {
    .root .root-head {
        height: 1000px;
    }
}

@media (min-height: 1200px) and (orientation: portrait) {
    .root .root-head {
        height: 1200px;
    }
}

@media (max-width: 767px) and (orientation: portrait) {
    footer .copy-right {
        padding-top: 0;
        text-align: left;
    }
}

@media (min-width: 576px) {
    footer {
        height: 35px;
    }
}
