<?xml version="1.0" encoding="utf-8"?>
<Macro Key="8b8ca02e-66da-4c65-b3eb-82f71e362774" Alias="ContactFormMacro" Level="0">
  <Name>ContactFormMacro</Name>
  <MacroSource>~/Views/MacroPartials/ContactFormMacro.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>