<?xml version="1.0" encoding="utf-8"?>
<Macro Key="2ec49ad6-2c80-4ab4-9c5c-69fafe012f0d" Alias="ContactForm" Level="0">
  <Name>Contact Form</Name>
  <MacroSource>~/Views/MacroPartials/ContactFormMacro.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>